[user]
	email = 55137382+AlexandreCln@users.noreply.github.com
	name = Alexandre COULON

[alias]
    co = checkout
    st = status
    rh = reset HEAD
    rhh = reset --hard

    l = "!f() { if [ -e ~/.githelpers ]; then sh ~/.githelpers; else git log --pretty=format:'%C(auto)%h %ad | %s%d [%an]' --graph --date=short; fi }; f"
    la = "!git l --all"
    lr = "!git l -30"
    lra = "!git lr --all"
    lg = "!f() { if [ -e ~/.githelpers ]; then sh ~/.githelpers; else git log --pretty=format:'%C(auto)%h %ad | %s%d [%an]' --graph --date=short --grep=\"$1\"; fi }; f"
    feature = !sh -c 'git checkout --no-track -b $0 origin/main'

    ruf = "!f() { if [ -e ~/.githelpers ]; then sh ~/.githelpers; else git clean -df; fi }; f"

    tree = log --oneline --decorate --graph

    sup = "!git branch --set-upstream-to=origin/$(git symbolic-ref --short HEAD)"

[core]
    excludesfile = ~/.gitignore

[color]
    diff = auto
    status = auto
    branch = auto
    ui = true

[push]
    default = current
    followTags = true

[remote]
    pushDefault = origin

; [branch]
;    autosetuprebase = always

[diff "gpg"]
    binary = true
    textconv = gpg -d --quiet --yes --compress-algo=none --no-encrypt-to --batch --use-agent

[commit]
    verbose = true

[init]
    defaultBranch = main
